<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAGD-dzOCoBUkNMHfwDqvtwfpCHGlPPNGg</string>
	<key>GCM_SENDER_ID</key>
	<string>159613662745</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bargain.wiz.dev</string>
	<key>PROJECT_ID</key>
	<string>wizard-app-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>wizard-app-dev.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:159613662745:ios:159613bf7aa2b8e2bc5c88</string>
</dict>
</plist>

